*
!/**/
!?*.*

# directories
.bundle/
_yardoc/
coverage/
doc/
pkg/
spec/reports/
tmp/
vendor/

# files
*.dump
*.log
*.mod
*.o
*.swp
*~
.DS_Store
.idea
.project
.rake*
.rake*
.ruby-*
.rvmrc
.secret
.yardoc
TODO.md
core.*
cscope.out
secrets.yml
tags

# don't ignore
!.gitignore
!Capfile
!Cheffile
!Gemfile
![MR]akefile
!bin/**/*
!exe/**/*

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
