<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="login.css">
        <link rel="icon" href="image.png">
        <title>My BaseCamp</title>
    </head>
    <body>
        <section class="signup">
            <img class="logo" src="image.png" width="20%">
            <form action="signup" method="post" class="inputs">
                <center><h1>Sign Up</h1></center>
                <p>
                    <label>Name</label><br>
                    <input class="input" type="text" name="userName" required>
                </p>
                <p>
                    <label>Email</label><br>
                    <input class="input" type="email" name="email" required>
                </p>
                <p>
                    <label>Password</label><br>
                    <input class="input" type="password" name="password" required>
                    <span>(Must be at least 6 character long)</span>
                </p>
                <p>
                    <label>Password confirmation</label><br>
                    <input class="input" type="password" name="password" required>
                </p>
                <center>
                    <input class="submit" type="submit" value="Sign Up"><br>
                    <span><a href='login'> Already a member? Log in </a> </span>
                </center>
            </form>
            
        </section>
    </body>
</html>