<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="login.css">
        <link rel="icon" href="image.png">
        <title>My BaseCamp</title>
    </head>
    <body>
        <section class="welcome_page">
            <img src="image.png" width="17%">
            <h1>COLLABORATE</h1>
            <p> A project management tool for developers</p>
            <div class="welcome_buttons">
                <button><a href='signup'> Sign up </a></button>
                <button><a href='login'> Login </a></button>
            </div>
        </section>
    </body>
</html>